.user-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
}

.user-list-h {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
}