.user-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  list-style:none;
}

.user-list-h {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
   list-style:none;
}
.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  
}
