

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f1c6c6;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}
body {
    margin: 0;
    padding: 0;
    
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;  
}
.header ul li {
    padding: 10px;
}

.header .link h2 {
    margin: 0;
}
.header .link  {
    text-decoration: none;
    font-size: 20px;
}
.college .link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}